//Familia de fuente
$font-family-primary: "Mulish", sans-serif;
$font-family-secondary: "Open", sans-serif;

//Tamaño Fuentes
//Base: 16px = 1rem
$font-size-p: 1rem; //16px
$font-size-small: 0.875rem; //14px
$font-size-h1: 3rem; //48px
$font-size-h2: 1.125rem; //18px


//Botones
$font-size-button: 1rem;


//Colores
$color-primary: #7D7987;
$color-accent: #69B99D;
$color-footer: #000000;
$background-white: #ffffff;


//Containers sizes
$container-width:1040;

//Espaciado
